%navLink{
    content: "";
    position: absolute;
    left: 0;
    height: 4px;
    transition: $primaryTransition;
    @extend %width-100
}

%width-100{
    width: 100%;
}

%bottom5{
    bottom: -.5rem
}


%bottom35{
    bottom: -3.5rem
}


%modal{
    content: "";
    width: toRem(22);
    height: toRem(22);
    border-radius: 50%;
    position: absolute;
    left: -.1rem;
    top: 1px;
    text-align: flex-start;
    margin-left: -.5rem;
}